<!doctype html>
<html>
<style>
     body {
        background-color: black;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
     }
</style>
</head>
<body>
    <h1>TRIVIA Game</h1>
    <h3>In a standard set of playing cards, which is the only king without a moustache?</h3>
    <p>Spades</p>
    <p>Hearts</p>
    <p>Diamonds</p>
    <p>Clubs</p>
     <img src='https://images.unsplash.com/photo-1571244112823-db09c790e924?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80' alt="cards image" style="width:200px">
     <form action="/trivia" method="POST">
         <p><input type="text" name="answer"></p>
         <p><input type="submit" value="submit"></p>
     </form>
</body>
</html>
