<!doctype html>
<html>
<style>
     body {
        background-color: black;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
     }
</style>
</head>
<body>
    <h1>TRIVIA TIME</h1>
    <p>What is the meaning of life, the universe, and everything?</p>
    <img src="https://images.unsplash.com/uploads/14128324071271c853818/3765c625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" alt="A picture of a man hitchhiking" style="width:200px">

    <form action = "/login" method = "POST">
        <p><input type = "text" name = "nm"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</body>
</html>
